{% extends "site_base.html" %}

{% block sub_page_head %}

{% endblock %}

{% block box-tabs %}
{% endblock %}

{% block subcontent %}

    <p>
        Requested resource could not be found. Please try the search above or the <a href="/search/advanced/">advanced search</a> to find your content. 
    </p>
    
    
    
    <img src="/media/images/404-ship.png"/>
    <br/>
    <p>Image of the "Lost Ocean Liner Empress of Ireland" from <a href="/lccn/2010270504/1914-06-05/ed-1/seq-3/">The North Platte semi-weekly tribune, June 05, 1914</a></p>
    
    <br/><br/>

{% endblock %}
