{% extends 'site_base_about.html' %}

{% load static from staticfiles %}

{% block sharetool_container_left %}{% endblock %}

{% block main_content %}
  {{ block.super }}
 <div id="std_box">



  <p>From 2007 to the present, the National Digital Newspaper Program: Nebraska has been digitizing historically significant Nebraska newspapers for inclusion on this website and in <em><a href="http://www.loc.gov/chroniclingamerica/">Chronicling America</a></em>, a freely available full-text database at the Library of Congress. The <a href="http://www.neh.gov/projects/ndnp.html">National Digital Newspaper Program</a> (NDNP) is a partnership between the National Endowment for the Humanities, the Library of Congress, and state projects to provide enhanced access to United States newspapers published between 1836 and 1922.</p>

  <p>The University of Nebraska–Lincoln Libraries, the Center for Digital Research in the Humanities, the College of Journalism &amp; Mass Communication, and the Nebraska State Historical Society received NEH funding in 2007 to digitize 100,000 pages of newspapers from 1880-1910. Another award was received in 2009 for an additional 100,000 pages from 1860-1922.</p>

  <p>Through private and state funding, the Nebraska project will be expanded to include newspapers outside the scope of the NDNP project. The first non-NDNP newspaper to be included is the <em>Daily Nebraskan</em>, UNL's student newspaper. Other papers will be digitized and placed online as funding becomes available.</p>

  <p>This digitization effort is an outgrowth of the Nebraska Newspaper Project, which was originally funded by the NEH from 1992-2000 and was an affiliate of the <a href="http://lcweb.loc.gov/preserv/usnppr.html">U.S. Newspaper Program</a>.</p>


  <h3>Project Team</h3>

  <ul>
  <li>Karin Dalziel, UNL</li>
  <li>Jessica Dussault, UNL</li>
  <li>Andrea Faling, NSHS</li>
  <li>Margaret Mering, Libraries</li>
  <li>Erin Pedigo, Graduate Research Assistant, UNL</li>
  <li>Brian Pytlik Zillig, UNL</li>
  <li>Breanne Reiss, UNL</li>
  <li>Katherine Walter, Project Director, UNL</li>
  <li>Laura Weakly, UNL</li>
  <li>Mary Woltemath, NSHS</li>
  <li>John Wunder, CoJMC</li>
  </ul>

<!-- TODO was knickum a former member? -->
  <h4>Former project team members:</h4>
  <ul>
  <li>Sam Herley, UNL</li>
  <li>Brenden Rensink, UNL</li>
  <li>Brent Rogers, UNL</li>
  </ul>

  <h3>Advisory Board</h3>
  <ul>
  <li>Charlyne Berens, Professor, News-Editorial, University of Nebraska-Lincoln (UNL)</li>
  <li>Mark Ellis, Associate Professor, History, University of Nebraska at Kearney</li>
  <li>Andrea Faling, Associate Director, Nebraska State Historical Society</li>
  <li>James McKee, Lee Booksellers</li>
  <li>James Potter, editor, Nebraska History</li>
  <li>Mark Scherer, Associate Professor, History, University of Nebraska at Omaha</li>
  <li>Katherine Walter, Professor, Libraries, UNL </li>
  <li>John R. Wunder, Professor, History, UNL</li>
  </ul>

  <p class="backtotop"><a href="#skip_menu">Top</a></p>
</div><!-- end id:std_box -->

{% endblock main_content %}
