{% extends 'site_base_about.html' %}

{% load static from staticfiles %}

{% block sharetool_container_left %}{% endblock %}

{% block main_content %}
  {{ block.super }}
 <div id="std_box">



  <p>From 2007 to the present, the National Digital Newspaper Program: Nebraska has been digitizing historically significant Nebraska newspapers for inclusion on this website and in <em><a href="http://www.loc.gov/chroniclingamerica/">Chronicling America</a></em>, a freely available full-text database at the Library of Congress. The <a href="http://www.neh.gov/projects/ndnp.html">National Digital Newspaper Program</a> (NDNP) is a partnership between the National Endowment for the Humanities, the Library of Congress, and state projects to provide enhanced access to United States newspapers published between 1836 and 1922</p>

  <p>The National Endowment for the Humanities has awarded three grants to the University of Nebraska–Lincoln to digitize 300,000 pages of newspapers. Awards were received in 2007, 2009, and, following a voluntary hiatus, in 2016.</p>

  <p>Through private and state funding, the Nebraska project has expanded to digitize newspapers outside the scope of the NDNP project, such as the Plattsmouth, Nebraska, papers and the <em>Daily Nebraskan</em>, a student newspaper.</p>

  <p>This digitization effort is an outgrowth of the Nebraska Newspaper Project, which was originally funded by the NEH from 1992-2000 and was an affiliate of the  <a href="http://lcweb.loc.gov/preserv/usnppr.html">U.S. Newspaper Program</a>.</p>


  <h3>Project Team</h3>

  <ul>
  <li>Janel Cayer, Newspaper Associate, Center for Digital Research in the Humanities (CDRH), University of Nebraska–Lincoln</li>
  <li>Karin Dalziel, Digital Development Manager and Designer, CDRH, University of Nebraska–Lincoln</li>
  <li>Jessica Dussault, Programmer/Analyst II, CDRH, University of Nebraska–Lincoln</li>
  <li>Andrea Faling, State Archivist, Nebraska State Historical Society </li>
  <li>Margaret Mering, Professor Authority and Identity Management, University of Nebraska–Lincoln Libraries</li>
  <li>Greg Tunink, Programmer/Analyst II, CDRH, University of Nebraska–Lincoln</li>
  <li>Katherine Walter, Professor and Co-Director, CDRH; Chair, Digital Initiatives &amp; Special Collections; Principal Investigator, University of Nebraska–Lincoln </li>
  <li>Laura Weakly, Metadata Encoding Specialist, CDRH, University of Nebraska–Lincoln</li>
  <li>Mary Woltemath, Microfilm Curator, Nebraska State Historical Society</li>
  </ul>

  <h3>Advisory Board, 2018-2020</h3>
  <ul>
    <li>Allen Beermann, Executive Director, Nebraska Press Association and Nebraska Press Advertising Association</li>
    <li>John Bender, Professor of Journalism, University of Nebraska–Lincoln</li>
    <li>Andrea Faling, Associate Director, Nebraska State Historical Society</li>
    <li>Priscilla Hayden-Roy, Professor of German, University of Nebraska–Lincoln</li>
    <li>James McKee, Lee Booksellers</li>
    <li>Mila Saskova-Pierce, Emerita Professor of Czech, University of Nebraska–Lincoln</li>
    <li>Rasmus Thøgersen, Director, Museum of Danish America</li>
    <li>Katherine Walter, Professor, Libraries, University of Nebraska–Lincoln</li> 
  </ul>

  <h3>Advisory Board, 2016-2018</h3>
  <ul>
    <li>Allen Beermann, Executive Director, Nebraska Press Association and Nebraska Press Advertising Association</li>
    <li>John Bender, Professor of Journalism, University of Nebraska–Lincoln</li>
    <li>Mark Ellis, Associate Professor, History, University of Nebraska at Kearney</li>
    <li>Andrea Faling, Associate Director, Nebraska State Historical Society </li>
    <li>Priscilla Hayden-Roy, Professor of German, University of Nebraska–Lincoln</li>
    <li>James McKee, Lee Booksellers</li>
    <li>Mila Saskova-Pierce, Emerita Professor of Czech, University of Nebraska–Lincoln</li>
    <li>Katherine Walter, Professor, Libraries, University of Nebraska–Lincoln </li>
  </ul>

<!-- TODO was knickum a former member? -->
  <h4>Former project team members:</h4>
  <ul>
    <li>Jeff Downey, Newspaper Associate, University of Nebraska–Lincoln</li>
    <li>Sam Herley, History graduate student, University of Nebraska–Lincoln</li>
    <li>Erin Pedigo, Journalism and History graduate student, University of Nebraska–Lincoln</li>
    <li>Brian Pytlik Zillig, Professor of Libraries, University of Nebraska–Lincoln</li>
    <li>Breanne Reiss, Newspaper Associate, University of Nebraska–Lincoln</li>
    <li>Brenden Rensink, History graduate student, University of Nebraska–Lincoln</li>
    <li>Brent Rogers, History graduate student, University of Nebraska–Lincoln</li>
    <li>John Wunder, Professor, Department of History and College of Journalism &amp; Mass Communication, University of Nebraska–Lincoln</li>

  </ul>

  <h4> Former Board Members</h4>
  <ul>
    <li>Charlyne Berens, Professor, News-Editorial, University of Nebraska–Lincoln</li>
    <li>Mark Ellis, Associate Professor, History, University of Nebraska at Kearney</li>
    <li>James Potter, editor, Nebraska History (now deceased)</li>
    <li>Mark Scherer, Associate Professor, History, University of Nebraska at Omaha</li>
    <li>John R. Wunder, Professor, History and College of Journalism &amp; Mass Communication </li>

  </ul>

  <p class="backtotop"><a href="#skip_menu">Top</a></p>
</div><!-- end id:std_box -->

{% endblock main_content %}
