{% extends "site_base.html" %}
 
{% load static from staticfiles %}
{% load humanize %}
 
{% block javascript %}
{{ block.super }}

<script type="text/javascript"> 
$(document).ready(setupFeatured);

function setupFeatured() {
    // lookup featured pages and choose one randomly to display
    var url = "featured.json";
    $.getJSON(url, function(results) {
        if (results && results.length > 0) {
          var page = results[Math.floor(Math.random()*results.length)];
          var content = $('#featured_content');
          content.append($('<a href="' + page.full_url +'"><img class="thumbnail" src="' + page.thumbnail_url + '" width="200" height="286" alt="' + page.label + '"/></><span><a href="' + page.full_url + '"><strong>' + page.date + '</strong><br />'+ page.title + '</a></span>'));
        }

    }).fail(function(e) { 
       console.log("There was an error retrieving the featured content " + JSON.stringify(e)); 
    });
}

</script> 

{% endblock %}
 
{% block sub_page_head %}{% endblock %}

{% block subcontent %}
    <div class="featured_header"> 
       <strong>Featured Content</strong>
    </div>
    <div class="featured_content" id="featured_content"> 
    </div>
  </div> 
  <div class="clear"><!-- --></div> 
{% endblock subcontent %}  
