{% extends 'site_base_about.html' %}

{% load static from staticfiles %}

{% block sharetool_container_left %}{% endblock %}

{% block main_content %}
  {{ block.super }}

  <div id="content_wrapper" class="about">

  <h2>The Nebraska Digital Newspaper Project: A National  Digital Newspaper Program affiliate</h2>

  <p>The National Endowment for the Humanities (NEH) and the  Library of Congress (LC) are collaborating on the National Digital Newspaper Program — a major grant program to digitize  historically significant newspaper titles from each U.S. state and territory. Digitized newspapers selected  for the program will become part of the freely available full-text database, <em><a href="http://www.loc.gov/chroniclingamerica">Chronicling America</a>,</em> that is hosted at  the Library of Congress. Eventually, the selected historical newspapers will date from 1836 through 1922.</p>

  <div class="floatRight">
    <div align="center">
      <img src="/media/images/NDNP_group_photo_340.jpg" alt="map"/>
<!--       <img src="{# static 'images/NDNP_group_photo_340.jpg' #}" alt="map"> -->
    </div>
    <p align="center"><strong>NDNP project team members in Nebraska</strong></p>
  </div>

  <p>In July 2007, the University of Nebraska–Lincoln Libraries  and the Center for Digital Research in the Humanities, the Nebraska State Historical Society, and the UNL College of Journalism and Mass Communication,  received funding from NEH to digitize 100,000 pages of newspapers from  1880-1910. Another award was received in 2009 for an additional 100,000 pages from 1860-1922.</p>

  <p>This partnership effort among state agencies brings together expertise from many areas. The  Nebraska State Historical Society has millions of frames of newspaper microfilm for the state, some of it developed using NEH funds; the UNL Libraries and  Center for Digital Research in the Humanities have significant experience with newspapers  and digital technologies including metadata and imaging; and the UNL College of  Journalism and Mass Communication serves an important role in preserving the  history of journalism.</p>

  <p>Among required NEH criteria for digitization is that titles be English-language newspapers that are significant historically, representing geographic, economic, and political diversity.  Even if these criteria are met, the source microfilm used for  digitization must meet certain technical specifications, or the titles cannot  be included in the project.</p>

  <p>Newspapers digitized during the initial phase of the project (2007-2009) were:</p>

  <ul>
    <li>Cherry County independent (Valentine, Cherry Co., Neb.)	1892-12-08  to	1896-04-02</li>
    <li>The Conservative (Nebraska City, Neb.)	1898-07-14 to	1902-05-29</li>
    <li>Custer County Republican (Broken Bow, Neb.)1899-03-16 to	1910-12-29 </li>
    <li>The Falls City tribune (Falls City, Neb.)1904-01-08 to	1908-07-24</li>
    <li>The McCook tribune (McCook, Neb.)1885-06-03 to	1912-05-13</li>
    <li>McCook weekly tribune (McCook, Neb.)1883-09-06 to 1885-05-28</li>
    <li>The Norfolk weekly news (Norfolk, Neb.) 1899-03-09 to 1900-11-15</li>
    <li>The Norfolk weekly news-journal (Norfolk, Neb.) 1900-11-23 to 1912-03-29</li>
    <li>Omaha daily bee. (Omaha [Neb.])1874-07-21 to 1900-02-15</li>
    <li>Valentine Democrat (Valentine, Neb.)1900-05-03 to 1912-05-16</li>
    <li>The Valentine Democrat (Valentine, Cherry Co., Neb.)1896-04-09 to 1898-08-25</li>
    <li>Western news-Democrat (Valentine, Neb.) 1898-09-01 to 1900-04-26</li>
  </ul>

  <p>The newspapers currently being digitized (2009-2011) include:</p>

  <ul>
    <li>Omaha Daily Bee (Morning Ed.)</li>
    <li>Columbus Journal</li>
    <li>Commoner (Lincoln)</li>
    <li>Courier (Lincoln)</li>
    <li>Red Cloud Chief</li>
    <li>Alliance Herald</li>
    <li>Central Star of Empire</li>
    <li>Dakota County Herald</li>
    <li>Frontier (O'Neill City)</li>
    <li>Nebraska Advertiser (Nemaha City)</li>
    <li>Tribune (North Platte)</li>
  </ul>

  <p>In time, the Library of Congress will include non-English-language titles in <em>Chronicling  America</em>, and the partners in Nebraska are committed to extending the project beyond English-language titles. Czech, Native American, German, Danish, and other languages were very important in the settlement of Nebraska—and immigrant newspapers and those of Native peoples remind us of our broad heritage. Nebraska would also prefer to digitize more than 100,000 English-language pages for each  time period.</p>

  <p>For more information about the Nebraska Digital Newspaper Project, contact Katherine Walter, Co-Director, Center for Digital Research in  the Humanities, and Chair, Digital Initiatives &amp; Special Collections at the UNL Libraries. Walter, the project director for the NDNP in Nebraska, can be reached at <a href="mailto:kwalter1@unl.edu">kwalter1@unl.edu</a> or  (402) 472-3939.</p>

</div>
{% endblock %}    
