{% extends 'site_base_about.html' %}

{% load static from staticfiles %}

{% block sharetool_container_left %}{% endblock %}

{% block main_content %}
  {{ block.super }}

  <div id="content_wrapper" class="about">
    <h2>About the Nebraska Newspaper Project (NNP)</h2>
  
    <p>The Nebraska Newspaper Project (NNP) was a cooperative project between the <a href="http://libraries.unl.edu">University Libraries</a> at the <a href="http://www.unl.edu/">University of Nebraska-Lincoln</a> (UNL) and the <a href="https://history.nebraska.gov/">Nebraska State Historical Society</a> (NSHS). It was funded by the <a href="http://www.neh.gov/">National Endowment for the Humanities</a> and is part of the <a href="http://www.neh.gov/projects/usnp.html">U.S. Newspaper Program</a> (USNP), managed by the <a href="http://www.loc.gov/index.html">Library of Congress</a>.</p>

    <p>The Nebraska Newspaper Project completed a planning grant in 1992/93. From 1994-96, UNL Libraries staff cataloged Nebraska newspaper collections at the Nebraska State Historical Society and Czech American newspapers in the UNL Libraries. Once titles were located, holdings were recorded; the newspapers were cataloged following <a href="http://www.loc.gov/acq/conser/">CONSER</a> standards on <a href="http://www.oclc.org">OCLC</a>, an international online union catalog; and the records were downloaded into the Library catalog. In 1997, the project developed some additional finding aids to the collection at the Nebraska State Historical  Society. From 1998-2000, UNL Libraries and the Nebraska State Historical Society sought newspapers missing from the collections at NSHS. Many of the  papers were taken to Lincoln for microfilming following international preservation standards. </p>

    <p>Staff for the Nebraska Newspaper Project included:</p>

    <ul>
      <li>Katherine Walter, Project Director, UNL</li>
      <li>Andrea Faling, Associate Director, NSHS</li>
      <li>Margaret Mering, Principal Serials Cataloger, UNL</li>
      <li>Mary Woltemath, Microfilm Curator, NSHS</li>
      <li>Kathy Bowersox, Serial Cataloger, UNL</li>
      <li>David Harlan, Serials Cataloger, UNL</li>
      <li>Corinne Jacox, Serials Cataloger, UNL</li>
      <li>Beth Jedlicka, Serials Cataloger, UNL</li>
      <li>Charity Stokes, Serials Cataloger, UNL</li>
      <li>Daniel Schwartz, Nebraska Newpaper Project Librarian, UNL</li>
      <li>Evelyn Kirk, Library Assistant, UNL</li>
      <li>Denise Matulka, Library Assistant, UNL</li>
      <li>Mary McKay, Library Assistant, UNL</li>
      <li>Sheila Orth, Library Assistant, UNL</li>
    </ul>

    <h3>Preserving Papers - The Nebraska Historical Society</h3>

    <p>The Nebraska State Historical Society was founded in 1878 and its first collecting policy was promulgated a year later. Among the items designated as important to the Society's collections were "files of Nebraska newspapers and magazines, especially complete volumes of past years, or single numbers even." Publishers were encouraged "to contribute their publications eagerly," so that their contributions could be "carefully preserved and bound." </p>

    <p>Complete or partial holdings for about forty newspapers published during the territorial era were provided by J. Sterling  Morton. Collected while he served as secretary of Nebraska Territory, the newspapers were transferred to the Society when he became the Society's president in 1891.</p>
 
    <p>Although newspapers were received during the Society's early  years, it wasn't until Jay Amos Barrett was hired as Assistant  Secretary and Librarian, in 1893,  that a systematic collection of newspapers was undertaken. Barrett initiated the practice of keeping a record of all newspapers published in the state and worked hard to ensure that publishers sent all newspaper issues to the Society. He persuaded the <em>Nebraska State Journal</em> and the Lincoln Newspaper Union to keep bags in their offices where duplicates of unwanted papers could be set aside for the Society. Barrett also solicited back files of contemporary papers and files of discontinued titles. By 1900 the Society had secured appropriations so that binding could take place. </p>

    <p>By the 1930s, the Society received almost all of the dailies and three-quarters of the weeklies on an exchange basis. In exchange for newspapers, the Society sent its own publications to each newspaper editor. The editors were considered Society members and the president of the Nebraska Press Association was a regular voting member of the Historical Society Board. Although the  Nebraska Press Association is no longer an ex officio member of the Society's Board (this agreement ended in the 1980s), the Press Association continues to encourage its members to send copies of all Nebraska newspapers to the Society.</p>

    <p>The Nebraska State Historical Society purchased its first camera and began the microfilming of Nebraska newspapers in 1952. Prior to that time, newspaper originals had been stored in bundles and were provided in that form to researchers. They were difficult to use and the acidic quality of the paper made it unlikely that they would survive many more years. Society Director James Olson suggested microfilming as a way to eliminate these difficulties. The microfilming process had been developed during the 1930s. The process was improved during the World War II and came into popular use afterwards. The Society was among the earliest state historical repositories to develop a newspaper microfilming program. The benefits were obvious to curators and the public alike, as microfilming provided a method by which valuable information contained on deteriorating newsprint was preserved, while reducing the storage needed for bulky originals.</p>

    <p>The Society continues its filming program today, microfilming the approximately 200 titles that it receives from the state's  newspaper publishers. The microfilm can be viewed at the Society's headquarters at 1500 'R' St. in Lincoln. Individual reels are also available for purchase or through <a href="http://www.unl.edu/nebnews/illpol.html">interlibrary loan.</a> </p>




  </div>

{% endblock %}
