{% extends 'site_base.html' %}

{% load static from staticfiles %}

{# comment out block tabs and "pages available" #}
{% block sharetool_container_left %}{% endblock %}

{% block subcontent %}


<h2>Map</h2>

  <!-- provide the map with a div to live inside -->
  <div id="map" style="width: 100%; height: 50em"></div>



<h2>List</h2>

<div class="city_list">
<div class="row">
  <div class="col-md-4">
    <h3>Alliance</h3>
    <ul><li><a href="../lccn/2010270501/">The Alliance Herald</a></li></ul>
  </div>
  <div class="col-md-4">
    <h3>Bellevue</h3>
    <ul>
      <li><a href="../lccn/sn85033100/">Bellevue Gazette</a></li>
      <li><a href="../lccn/sn84020241/">Nebraska Palladium </a></li>
    </ul>
  </div>
  <div class="col-md-4">
    <h3>Broken Bow</h3>
    <ul>
      <li><a href="../lccn/sn94055463/">Custer County
        Republican</a></li>
    </ul>
  </div>
</div><!-- /row -->

<div class="row">
  
  <div class="col-md-4">
    <h3>Brownville</h3>
    <ul>
      <li><a href="../lccn/sn84020109/">Nebraska Advertiser</a></li>
    </ul>
  </div>
  <div class="col-md-4">
    <h3>Clarkson</h3>
    <ul>
      <li><a href="../lccn/sn99067057/">Ozvéna západu</a></li>
    </ul>
  </div>
  <div class="col-md-4">
    <h3>Columbus</h3>
    <ul>
      <li><a href="../lccn/sn95073194/">Columbus Journal</a></li>
    </ul>
  </div>
  
  
</div><!-- /row -->

<div class="row">
  
  <div class="col-md-4">
    <h3>Dakota City</h3>
    <ul>
      <li><a href="../lccn/sn84020146/">Dakota City Herald</a></li>
      <li><a href="../lccn/2010270500/">Dakota County Herald</a></li>
    </ul>
  </div>
  <div class="col-md-4">
    <h3>Falls City</h3>
    <ul>
      <li><a href="../lccn/sn94056446/">The Falls City Tribune</a></li>
    </ul>
  </div>
  <div class="col-md-4">
    <h3>Lincoln</h3>
    <ul>
      <li><a href="../lccn/2010270510/">Capital City Courier</a></li>
      <li><a href="../lccn/46032385/">The Commoner</a></li>
      <li><a href="../lccn/sn99066033/">The Courier</a></li>
      <li><a href="../lccn/sn96080312/">The Daily Nebraskan</a></li>
      <li><a href="../lccn/sn96080316/">Hesperian Student</a></li>
      <li><a href="../lccn/2010270512/">Saturday Morning Courier</a></li>
      <li><a href="../lccn/2010270511/">Sunday Morning Courier</a></li>
    </ul>
  </div>
</div><!-- /row --> 


<div class="row">
  
  <div class="col-md-4">
    <h3>McCook</h3>
    <ul>
      <li><a href="../lccn/sn94056415/">The McCook Tribune</a></li>
      <li><a href="../lccn/sn94056414/">McCook Weekly Tribune</a></li>
    </ul>
  </div>
  <div class="col-md-4">
    <h3>Nemaha City</h3>
    <ul>
      <li><a href="../lccn/2010270508/">The Nebraska Advertiser</a></li>
    </ul>
  </div>
  <div class="col-md-4">
    <h3>Norfolk</h3>
    <ul>
      <li><a href="../lccn/sn95070058/">The Norfolk Weekly News-Journal</a></li>
      <li><a href="../lccn/sn95070060/">The Norfolk Weekly News</a></li>
    </ul>
  </div>
</div><!-- /row -->



<div class="row">
  <div class="col-md-4">
    <h3>North Platte</h3>
    <ul>
      <li><a href="../lccn/2010270502/">Lincoln County Tribune</a></li>
      <li><a href="../lccn/2010270504/">The North Platte Semi-Weekly Tribune</a></li>
      <li><a href="../lccn/2010270503/">The North Platte Tribune</a></li>
    </ul>
  </div>
  <div class="col-md-4">
    <h3>Omaha</h3>
    <ul>
      <li><a href="../lccn/sn99021999/">Omaha Daily Bee</a></li>
    </ul>
  </div>
  <div class="col-md-4">
    <h3>Plattsmouth</h3>
    <ul>
      <li><a href="../lccn/sn95069736/">The Plattsmouth Daily Herald</a></li>
      <li><a href="../lccn/sn95069728/">Plattsmouth Herald</a></li>
      <li><a href="../lccn/sn95069723/">The Plattsmouth Journal</a></li>
      <li><a href="../lccn/sn95069727/">Plattsmouth Weekly Herald</a></li>
      <li><a href="../lccn/sn95069722/">Plattsmouth Weekly Journal</a></li>
      <li><a href="../lccn/sn95069729/">Semi-Weekly News-Herald</a></li>
    </ul>
  </div>
</div><!-- /row -->


<div class="row">
  <div class="col-md-4">
    <h3>Red Cloud</h3>
    <ul>
      <li><a href="../lccn/sn84022835/">The Red Cloud Chief</a></li>
    </ul>
  </div>

  <div class="col-md-4">
    <h3>Valentine</h3>
    <ul>
      <li><a href="../lccn/sn95069777/">Cherry County Independent</a></li>
      <li><a href="../lccn/sn95069780/">Valentine Democrat</a></li>
      <li><a href="../lccn/sn95069778/">The Valentine Democrat</a></li>
      <li><a href="../lccn/sn95069779/">Western News-Democrat</a></li>
    </ul>
  </div>
  <div class="col-md-4">
    <h3>Wahoo</h3>
    <ul>
      <li><a href="../lccn/sn95069354/">Přítel lidu</a></li>
    </ul>
  </div>
</div><!-- /row -->


<div class="row">
  
  
  <div class="col-md-4">
    <h3>Wilber</h3>
    <ul>
      <li><a href="../lccn/sn96080292/">Wilberské listy</a></li>
    </ul>
  </div>
  
  <div class="col-md-4">
    <h3>Wood River</h3>
    <ul>
      <li><a href="../lccn/sn86091413/">The Huntsman's Echo</a></li>
    </ul>
  </div>
  <div class="col-md-4">
    
  </div>
</div><!-- /row -->

</div><!-- /city_list -->
  







{% endblock %}

{% block javascript %}
  <!-- INCLUDES -->
    <!-- include leaflet css, js local files -->
    <!-- <script src="public/leaflet-0.7.3/leaflet.js"></script>
    <link rel="stylesheet" href="public/leaflet-0.7.3/leaflet.css"/> -->
    <script src="/media/js/leaflet-0.7.3/leaflet.js"></script>
    <link rel="stylesheet" href="/media/js/leaflet-0.7.3/leaflet.css"/>
    
<!--
    <script src="{# static 'js/leaflet-0.7.3/leaflet.js' #}"></script>
    <link rel="stylesheet" href="{# static 'js/leaflet-0.7.3/leaflet.css' #}"/>
-->

    <!-- include a pretty little stamenizer -->
    <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>

    <!-- jquery scripts and css -->
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" type="text/css">
    <!-- Include this library for mobile touch support (not tested) -->
    <script src="/media/js/jqueryUiTouchPunch-0.2.2/jquery.ui.touch-punch.min.js"></script>
<!--     <script src="{# static 'js/jqueryUiTouchPunch-0.2.2/jquery.ui.touch-punch.min.js' #}"></script> -->

    <!-- The map -->
    <script type="text/javascript">
      // The cities (TODO include rather than putting it here)
      var cities = [
        {
          "name": "Alliance",
          "latlong": [42.10, -102.87],
          "papers": {
            "The Alliance Herald": "2010270501"
          }
        },
        {
          "name": "Bellevue City",
          "latlong": [41.16, -95.93],
          "papers": {
            "Nebraska Palladium": "sn84020241",
            "Bellevue Gazette": "sn85033100"
          }
        },
        {
          "name": "Broken Bow",
          "latlong": [41.40, -99.64],
          "papers": {
            "Custer County Republican": "sn94055463",
          }
        },
        {
          "name": "Brownville",
          "latlong": [40.40, -95.66],
          "papers": {
            "Nebraska Advertiser": "sn84020109",
          }
        },
        {
          "name": "Clarkson",
          "latlong": [41.72, -97.12],
          "papers": {
            "Ozvéna západu": "sn99067057"
          }
        },
        {
          "name": "Columbus",
          "latlong": [41.43, -97.35],
          "papers": {
            "The Columbus Journal": "sn95073194",
          }
        },
        {
          "name": "Dakota City",
          "latlong": [42.42, -96.42],
          "papers": {
            "Dakota County Herald": "2010270500",
            "Dakota City Herald": "sn84020146"
          }
        },
        {
          "name": "Falls City",
          "latlong": [40.07, -95.6],
          "papers": {
            "The Fall City Tribune": "sn94056446",
          }
        },
        {
          "name": "Lincoln",
          "latlong": [40.81, -96.68],
          "papers": {
            "Capital City Courier": "2010270510",
            "The Commoner": "46032385",
            "The Courier": "sn99066033",
            "The Daily Nebraskan": "sn96080312",
            "The Hesperian Student": "sn96080316",
            "Saturday Morning Courier": "2010270512",
            "Sunday Morning Courier": "2010270511"
          }
        },
        {
          "name": "McCook",
          "latlong": [40.21, -100.63],
          "papers": {
            "The McCook Tribune": "sn94056415",
            "McCook Weekly Tribune": "sn94056414"
          }
        },
        {
          "name": "Nemaha City",
          "latlong": [40.34, -95.68],
          "papers": {
            "The Nebraska Advertiser": "2010270508"
          }
        },
        {
          "name": "Norfolk",
          "latlong": [42.03, -97.43],
          "papers": {
            "The Norfolk Weekly News-Journal": "sn95070058",
            "The Norfolk Weekly News": "sn95070060",
          }
        },
        {
          "name": "North Platte",
          "latlong": [41.14, -100.77],
          "papers": {
            "Lincoln County Tribune": "2010270502",
            "The North Platte Semi-Weekly Tribune": "2010270504",
            "The North Platte Tribune": "2010270503"
          }
        },
        {
          "name": "Omaha",
          "latlong": [41.25, -96.0],
          "papers": {
            "Omaha Daily Bee": "sn99021999"
          }
        },
        {
          "name": "Plattsmouth",
          "latlong": [41.01, -95.89],
          "papers": {
            "The Plattsmouth Daily Herald": "sn95069736",
            "Plattsmouth Herald": "sn95069728",
            "Plattsmouth Journal": "sn95069723",
            "Plattsmouth Weekly Herald": "sn95069727",
            "Plattsmouth Weekly Journal": "sn95069722",
            "Semi-Weekly News-Herald": "sn95069729"
          }
        },
        {
          "name": "Red Cloud",
          "latlong": [40.09, -98.52],
          "papers": {
            "The Red Cloud Chief": "sn84022835"
          }
        },
        {
          "name": "Valentine",
          "latlong": [42.87, -100.55],
          "papers": {
            "Cherry County Independent": "sn95069777",
            "Valentine Democrat": "sn95069780",
            "The Valentine Democrat": "sn95069778",
            "Western News-Democrat": "sn95069779"
          }
        },
        {
          "name": "Wahoo",
          "latlong": [41.22, -96.62],
          "papers": {
            "Přítel lidu": "sn95069354"
          }
        },
        {
          "name": "Wilber",
          "latlong": [40.48, -96.96],
          "papers": {
            "Wilberské listy": "sn96080292"
          }
        },
        {
          "name": "Wood River",
          "latlong": [40.82, -98.6],
          "papers": {
            "The Huntsman's Echo": "sn86091413"
          }
        }
      ];

      // The actual map code


      var map = L.map('map').setView(new L.LatLng(41.5, -99.316), 7);

      // make base layer
      var stamenLayer = new L.StamenTileLayer('toner');
      map.addLayer(stamenLayer);

      // the historical overlay
      var overlay = new L.TileLayer.WMS("http://cors1601.unl.edu:8080/geoserver/gwc/service/wms", {
                layers: 'states:Nebraska_wma',
                format: 'image/png',
                transparent: true
      });
      overlay.addTo(map);

      // add a toggle for the two layers
      L.control.layers({ "Plain" : stamenLayer, "Historical" : overlay }).addTo(map);

      var makeLinks = function(city, papers) {
        if (papers) {
          var res = "<h4>"+city+"</h4>";
          for (var paper in papers) {
            res += singleLink(paper, papers[paper])
          }
          return res;
        } else {
          return "No papers found for this city";
        }
      };

      var singleLink = function(name, id) {
        return "<li class='map_paper_link'>"
               +"<a href='../lccn/"
               +id+"/'>"+name+"</a></li>";
      };

      var circleMarkers = {
        radius: 8,
        fillColor: "#000000",
        color: "#000000",
        weight: 1,
        opacity: 1,
        fillOpacity: .8
      };

      cities.forEach(function(city) {
        var opts = {
          "title": city["name"], 
          "riseOnHover": true
        };
        // var marker = L.marker(city["latlong"], opts);
        var marker = L.circleMarker(city["latlong"], circleMarkers);
        marker.addTo(map);
        marker.bindPopup(makeLinks(city["name"], city["papers"]));
        // add a mouseover that waits for you to click away before closing
        marker.on('mouseover', function(e) {
          this.openPopup();
        });
        marker.on('click', function(e) {
          this.closePopup();
        });
      });

      // var markers = [];
      // create a layer group so that all the markers can be controlled together
      // var newspapers = L.layerGroup(markers).addTo(map);

      
    </script>
      
      
      


{% endblock javascript %}



