{% extends 'site_base.html' %}

{% load static from staticfiles %}

{% block sharetool_container_left %}{% endblock %}

{% block main_content %}

  {% block about_nav %}
  

<ul class="nav nav-pills">
  <li role="presentation"><a href="{% url 'chronam_about' %}">About</a></li>
  <li role="presentation"><a href="{% url 'chronam_adding' %}">Adding</a></li>
  <li role="presentation"><a href="{% url 'chronam_nnp' %}">The Nebraska Newspaper Project</a></li>
  <li role="presentation"><a href="{% url 'chronam_ndnp' %}">The National Digital Newspaper Project</a></li>
  <li role="presentation"><a href="{% url 'chronam_access' %}">Access</a></li>
  <li role="presentation"><a href="{% url 'chronam_contact' %}">Contact</a></li>
</ul>
<br/>
  <!--
    <ul id="about_nav">
      <li>
        <a href="{% url 'chronam_about' %}">About</a>
      </li>
      <li>
        <a href="{% url 'chronam_adding' %}">Adding</a>
      </li>
      <li>
        <a href="{% url 'chronam_nnp' %}">The Nebraska Newspaper Project</a>
      </li>
      <li>
        <a href="{% url 'chronam_ndnp' %}">The National Digital Newspaper Project</a>
      </li>
      <li>
        <a href="{% url 'chronam_access' %}">Access</a>
      </li>
      <li>
        <a href="{% url 'chronam_contact' %}">Contact</a>
      </li>
    </ul>-->
  {% endblock about_nav %}
{% endblock main_content %}
