body {
	background: #efefea url(../images/full_backdrop.png) no-repeat center -170px;
}

.header {
	padding: 1.5em 0;
	margin: 0;
}

.header h1 {
	padding: .2em;
	margin: 0;
}

.navbar {
	font-family: 'Oranienbaum';
	background-color: RGBA(255,255,255,.7);
	border: double #000 3px;
	border-right: none;
	border-left: none;
	margin: 0;
}

@media (min-width: 768px) {

	h1 .nebraska {
		margin-left: .9em;
	}
	
	h1 .newspapers {
		padding-left: 1.6em;
	}
	
	h1..title {
		font-size: 4em;
		
		line-height: .95em;
		
		font-weight: 700;
		font-variant: small-caps;
	}


}

@media (min-width: 992px) {
	h1..title {
		font-size: 6em;
		}
	}

h1.title {
	font-family: 'Oranienbaum', serif;
	text-align: center;
}

.navbar a {
	text-decoration: none;
}

.navbar-right {
	font-size: .9em;
}


.navbar-second {
	border: solid 3px #000;
	border-right: none;
	border-left: none;
	border-top: none;
}

/* To center the search */

@media (min-width: 768px) {

	.navbar-second .container {
		text-align: center;
	}
	
	.navbar-center {
		display: inline-block;
		margin-bottom: -7px;
	}

}



/* calendar */

.calendar_wrapper {
	/*font-family: arial;*/
}

.calendar_month {
	display: inline-block;
	margin: 0 10px 0 0px;
	background-color: #fff;
	text-align: center;
	vertical-align: top;
}

.calendar_wrapper .title {
	background-color: #deded8;
	font-size: 1em;
}

div.calendar_wrapper .calendar_month td {
	padding: 4px;
}

div.calendar_wrapper  .dropdown-toggle {
	padding: 0;
	margin: 0;
}

.calendar_wrapper .table {
	padding: 0;
	margin: 0;
}


div.calendar_wrapper table.month td.single {
	background-color: #e6e8e0;
	
}
div.calendar_wrapper table.month td.multiple {
    
    background-color: #c8cac3;
    
}

.calendar_wrapper .btn-group a {
	color: #860e00;
	text-decoration: none;
	
}

.calendar_wrapper td {
	width: 2.2em;
}









 LOC Styles 

@media (max-width: 979px) {
	body {
	    padding-top: 0px;
	}
	.navbar-fixed-top {
	    margin-bottom: 0px;
	}
    }
    .breadcrumb {
        margin: 0 0 5px;
    }
    #myCarousel {
        margin-top: 10px;
    }

    ul.newspaper_pages li.span4 {
	height: 450px;
    }
    @media (min-width: 1200px) {
	ul.newspaper_pages li.span4 {
	    height: 575px;
	}
    }
    @media (max-width: 979px) and (min-width: 768px) {
	ul.newspaper_pages li.span4 {
	    height: 350px;
	}
    }
    @media (max-width: 767px) {
	ul.newspaper_pages li.span4 {
	    height: auto;
	}
    }

    .highlight_words div {
	margin-top: -3px;
	padding-top: 3px;
	margin-bottom: 3px;
	padding-bottom: 3px;
	margin-left: -1px;
	padding-left: 1px;
	margin-right: 1px;
	padding-right: 1px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	background:transparent; /* fallback for browsers not supporting rgba */
	background: rgba(255, 0, 0, 0.4);
    }


